<app-header
  [model]="model"
  [title]="modelName + ' ' + operation"
  [currentOperation]="operation"
  center="true"
  [modelId]="modelId"
  showMenuButton="true"
  showBackButton="true"
  [operations]="allowedOperations"
  color="primary">
</app-header>

<ion-content [fullscreen]="true">
  <main class="main">
    <app-container [hasSideMenu]="true" size="2xlarge">
      <ion-card class="dcf-card-default">
         <ion-card-header>
          <ion-card-title>
            Current Operation is {{operation}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="dcf-margin-top">
          @if(model) {
            <ngx-decaf-model-renderer
              [model]="model"
              (listenEvent)="handleEvent($event)"
              [globals]='{operation, modelId, allowClear: false}'>
            </ngx-decaf-model-renderer>
          } @else {
            <div>No Model</div>
          }
        </ion-card-content>
      </ion-card>

    </app-container>
  </main>
</ion-content>
