<app-header
  [title]="title"
</app-header>

<ion-content [fullscreen]="true">
  <main>
    <app-container>
      <ion-card>
        <ion-card-content>
          Page content goes here!
        </ion-card-content>
      </ion-card>
    </app-container>
  </main>
</ion-content>
