<app-header [title]="title" [operation]="operation" [modelId]="modelId" />

<ion-content [fullscreen]="true">
  <main>
    <app-container>
      @if(model) {
        @if(!operation) {
           <ngx-decaf-table
              [filter]="products"
              [filterIndex]="'productCode'"
              [filterLabel]="'batches.filter.all' | translate"
              [model]="model"
              [route]="route"
              [locale]="locale"
              [operation]="operation"
              [operations]="operations"
              (listenEvent)="handleEvent($event)"
            />
        } @else {
          @if(!errorMessage) {
            <ngx-decaf-model-renderer
                [model]="model"
                (listenEvent)="handleEvent($event)"
                [globals]="{operation: operation, modelId, allowClear: false}"
              >
            </ngx-decaf-model-renderer>
          } @else {
            <ngx-decaf-empty-state
              [model]="model"
              title="404 - Not Found"
              iconColor="danger"
              icon="sad-outline"
              [subtitle]="'errors.not_found' | translate:{'0': pk, '1': modelId, '2': modelName}"
            />
          }
        }
      } @else {
        <div>No Model</div>
      }
    </app-container>
  </main>
</ion-content>
