<app-header [model]="model" [title]="'List ' + type" [operations]="['read', 'create']" />


<ion-content [fullscreen]="true">
    <main>
    <app-container>
        <ngx-decaf-card
          [title]="title"
          [subtitle]="type + ' list component'"
        >
        <ngx-decaf-list
          [model]="model"
          [type]="type"
          [operations]="['read', 'create', 'update', 'delete']"
          (listenEvent)="handleEvent($event)"
        />
      </ngx-decaf-card>
    </app-container>
  </main>
</ion-content>
