:host {
  display: block;
}

.dcf-current-cron {
  background: white;
  padding: var(--dcf-space-3);
  margin-top: var(--dcf-space-4);
  border-radius: var(--dcf-radius-sm);
  font-size: var(--dcf-font-meta);
  code {
    display: inline-block;
    background: rgba(var(--dcf-color-primary-rgb), 0.125);
    padding: var(--dcf-space-1) var(--dcf-space-3);
    border-radius: var(--dcf-radius-sm);
    color: var(--dcf-color-primary-shade);
    font-family: var(--dcf-font-family-mono);
  }
}
