.dcf-hidden {
  display: none;
}

ion-header {
  &.dcf-mobile-header {
    box-shadow: none !important;
    border-bottom: 1px solid var(--dcf-color-gray-2) !important;
    .dcf-mobile-logo {
      padding: 0.5rem 0.75rem;
    }
  }

  &.white {
    background-color: white !important;
    box-shadow: none !important;
    border-bottom: 1px solid var(--dcf-color-gray-2) !important;

    @media (max-width: 680px) {
      padding-right: 0.25rem;
      padding-left: 0.25rem;
    }

    svg {
      stroke: var(--dcf-color-gray-7) !important;
    }

    &.ion-color-primary,
    &.ion-color-secondary,
    &.ion-color-tertiary,
    &.ion-color-danger,
    &.ion-color-warning,
    &.ion-color-success,
    &.ion-color-dark {
      svg {
        stroke: var(--dcf-color-gray-1) !important;
      }
      ion-icon {
        color: var(--dcf-color-gray-7) !important;
      }
    }
  }

  .dcf-palette-dark {
    svg {
      stroke: var(--dcf-color-gray-1) !important;
    }
    .ion-color-primary,
    .ion-color-secondary,
    .ion-color-tertiary,
    .ion-color-danger,
    .ion-color-warning,
    .ion-color-success,
    .ion-color-dark {
      svg {
        stroke: var(--dcf-color-gray-1);
      }
      ion-icon {
        color: var(--dcf-color-gray-1);
      }
    }
  }

  .dcf-header-container {
    padding: 0px;
    margin: 0px;
    width: 100%;

    &:not(.dcf-width-expand) {
      max-width: 1280px;
      ion-toolbar {
        padding: 0rem 1rem !important;
      }
    }
    &.dcf-width-expand {
      flex: 1;
      min-width: 1px;
      @media (min-width: 768px) {
        ion-toolbar {
          padding: 0rem 2rem;
        }
      }
    }
  }

  ion-title {
    font-size: 1.025rem !important;
  }

  &.dcf-flex {
    display: flex;
    justify-content: center;

    &.primary {
      background: var(--ion-color-primary);
    }
    &.secondary {
      background: var(--ion-color-secondary);
    }
    &.tertiary {
      background: var(--ion-color-tertiary);
    }

    &.transparent {
      background-color: transparent;
      box-shadow: none !important;
      border-bottom: 1px solid var(--dcf-color-gray-2);
    }
  }
}

ion-avatar {
  display: flex;
  justify-content: center;
  padding: 1rem;

  > div {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    font-weight: 600;
    font-size: 0.875rem;
    border-radius: 50%;
    background: var(--dcf-color-gray-2);
  }
}
