<ion-content [fullscreen]="true">
   <main class="main">
    <div class="content">
      <div class="left-side">

      </div>
      <div class="divider" role="separator" aria-label="Divider"></div>
      <div class="right-side">
        <ngx-decaf-container size="large">
          <ngx-decaf-model-renderer [model]="model1" [globals]="{operation: operation}"></ngx-decaf-model-renderer>
        </ngx-decaf-container>
        <!-- <form-reactive [operation]="operation"> -->
          <!--      test-->
          <!-- <crud-form-field [operation]="operation" [props]="props1"></crud-form-field> -->
          <!--        <crud-form-field [operation]="operation" [props]="props2"></crud-form-field>-->
          <!--        <crud-form-field [operation]="operation" [props]="props3"></crud-form-field>-->
          <!--        <crud-form-field [operation]="operation" [props]="props4"></crud-form-field>-->
          <!--        <crud-form-field [operation]="operation" [props]="props5"></crud-form-field>-->
        <!-- </form-reactive> -->
      </div>
    </div>
  </main>
</ion-content>
