.dcf-product-list-item {
  border: 1px solid var(--dcf-color-gray-3);
  border-radius: var(--dcf-border-radius-small);
  background: var(--dcf-card-background);
  // margin: 1rem .5rem;
  margin-bottom: 1rem !important;
  box-shadow: var(--dcf-box-shadow-small);
  transition: box-shadow 0.25s ease-in-out;

  &:hover {
    box-shadow: var(--dcf-box-shadow);
    cursor: pointer;
  }

  padding: var(--dcf-padding-small);
  .dcf-name {
    font-weight: 500;
    font-size: 1rem;
    margin: 0px;
  }

  .dcf-gtin {
    font-size: 0.875rem;
    display: block;
    text-transform: uppercase;
    color: var(--dcf-color-gray-5);
  }
}

.dcf-icon-container {
  > div {
    background: rgba(var(--dcf-color-tertiary-rgb), 0.15);
    border-radius: var(--dcf-border-radius-small);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

    > * {
      position: relative;
      top: 1px;
      left: 1px;
    }
  }
}

.dcf-info {
  color: var(--dcf-color-gray-6);
  font-size: 0.75rem !important;

  span {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--dcf-text-text) !important;
  }

  ion-badge {
    font-size: 0.875rem !important;
    min-width: 40px;
  }
}
