<app-header [title]="locale+'.title'" />

<ion-content fullscreen="true">
  <main>
    <app-container>
      <app-card-title
        [locale]="locale"
        [route]="route"
        [operation]="operation"
        [operations]="operations"
        [title]="locale +'.title' | translate"
        [allowCreate]="true"
        [class.dcf-disabled]="!this._data?.length"
        [createButton]="{
          text: 'dowload',
          handle: exportCsvFile.bind(this)
        }"
        [subtitle]="locale +'.description' | translate"
      />

      <div class="dcf-list-container">
        <ngx-decaf-table
          [model]="model"
          [route]="route"
          [allowOperations]="false"
          [locale]="locale"
          (refreshEvent)="handleEvent($event)"
        />
      </div>
    </app-container>
  </main>
</ion-content>
