<main
  class="dcf-shell"
  [class.dcf-graph-shell]="graph()"
  [style.--dcf-graph-sidebar-width]="sidebarWidth()"
>
  <ngx-decaf-graph-sidebar-menu
    [collapsed]="sidebarCollapsed()"
    (collapsedChange)="sidebarCollapsed.set($event)"
    (listenModeChange)="handleModeChange($event)"
  />
  <section class="dcf-main">
    @if (graph(); as graph) {
      <ngx-decaf-graph-workflow
        [graph]="graph"
        [outputs]="outputs"
      />
    } @else {
      <ngx-decaf-container size="large">
        <ngx-decaf-graph-home />
      </ngx-decaf-container>
    }
  </section>
</main>
