<div class="dcf-switcher-component">
  <div class="dcf-grid dcf-grid-small dcf-switcher-grid dcf-width-1-1"
    [class.dcf-grid-match]="button"
  >
    @if(tabs.length > 1) {
      <div [class]="position === 'left' ? 'dcf-width-auto@xl uk-width-1-1 left' : 'dcf-width-1-1 top'">
        <ul
          [class]="'dcf-switcher dcf-switcher-' + position"
          [class.dcf-switcher-button]="button"
        >
            <li
              (keyup.enter)="getActivePage($index)"
              tabindex="0"
              *ngFor="let tab of tabs; let $index = index"
              [class.dcf-active]="activeIndex === $index"
              (click)="getActivePage($index)">
              <a>{{ tab.title | translate }}</a>
            </li>

        </ul>
      </div>
    }
    <div [class]="position === 'left' ? 'dcf-switcher-content dcf-width-expand@l' : 'dcf-switcher-content dcf-width-1-1'">
      <div>
        <!-- @if(activePage) {

          <div class="dcf-animation dcf-animation-slide-left-small dcf-animation-medium dcf-margin-top" #switcherContent>
            <ngx-decaf-component-renderer
              [tag]="activePage.tag"
              [parentForm]="parentForm"
              [children]="activePage?.children || []"
              (listenEvent)="handleEvent($event)"
              [globals]="{props: activePage.props}"
            />
          </div>
        } -->
        @for(child of children; track child) {
          <div class="dcf-animation dcf-animation-slide-left-small dcf-animation-medium dcf-margin-top" #switcherContent
            [hidden]="$index !== activeIndex"
          >
            <ngx-decaf-component-renderer
              [tag]="child.tag"
              [parentForm]="parentForm"
              [children]="child?.children || []"
              (listenEvent)="handleEvent($event)"
              [globals]="{props: child.props}"
            />
          </div>
        }
      </div>

    </div>
  </div>
</div>
