<section>
  <div class="dcf-grid dcf-grid-small dcf-switcher-grid"
    [class.dcf-grid-match]="button"
  >
    @if(tabs.length > 1) {
      <div [class]="position === 'left' ? 'dcf-width-1-4@l left' : 'dcf-width-1-1 top'">
        <ul
          [class]="'dcf-switcher dcf-switcher-' + position"
          [class.dcf-switcher-button]="button"
        >
            <li
              (keyup.enter)="getActivePage($index)"
              tabindex="0"
              *ngFor="let tab of tabs; let $index = index"
              [class.dcf-active]="activeIndex === $index"
              (click)="getActivePage($index)">
              <a>{{ tab.title | translate }}</a>
            </li>

        </ul>
      </div>
    }
    <div [class]="position === 'left' ? 'dcf-switcher-content dcf-width-expand@l' : 'dcf-switcher-content dcf-width-1-1'">
      @if(!activePage) {
        @for(skl of skeletonData; track $index) {
          <ion-item>
            <ion-label>
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              <ion-text><ion-skeleton-text [animated]="true"></ion-skeleton-text></ion-text>
            </ion-label>
          </ion-item>
        }
      } @else {
        <div class="dcf-animation dcf-animation-slide-bottom-small dcf-animation-fast dcf-margin-top" #switcherContent>
          @if(activePage) {
            <ngx-decaf-component-renderer
              [tag]="activePage.tag"
              [parentForm]="parentForm"
              [children]="activePage?.children || []"
              (listenEvent)="handleEvent($event)"
              [globals]="{props: activePage.props}"
            />
          }
        </div>
      }
    </div>
  </div>
</section>
