
/* ========================================================================
   Component: Overlay
 ========================================================================== */
.uk-overlay {
  padding: 30px 30px;
}
/*
 * Remove margin from the last-child
 */
.uk-overlay > :last-child {
  margin-bottom: 0;
}
/* Overlay
 ========================================================================== */
/* Style modifiers
 ========================================================================== */
/*
 * Default
 */
.uk-overlay-default {
  background: rgba(var(--ion-color-dark-rgb), 25%);
}
/*
 * Primary
 */
.uk-overlay-primary {
  background: rgba(var(--ion-color-primary-rgb), 25%);
}
/*
 * secondary
 */
.uk-overlay-secondary {
  background: rgba(var(--ion-color-secondary-rgb), 25%);
}

/*
 * tertiary
 */
.uk-overlay-tertiary {
  background: rgba(var(--ion-color-tertiary-rgb), 25%);
}


/*
 * danger
 */
.uk-overlay-danger {
  background: rgba(var(--ion-color-danger-rgb), 25%);
}

/*
 * warning
 */
.uk-overlay-warning {
  background: rgba(var(--ion-color-warning-rgb), 25%);
}

/*
 * success
 */
.uk-overlay-success {
  background: rgba(var(--ion-color-success-rgb), 25%);
}


