// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

.dcf-palette-dark {
  :root {
    --dcf-input-fill-background: var(--dcf-color-step-100);
    --dcf-text-color: #ffffff;
  }
  /*
   * Dark Colors
   * -------------------------------------------
   */
  body {
    --dcf-color-primary: #5b8fff;
    --dcf-color-primary-rgb: 91, 143, 255;
    --dcf-color-primary-contrast: #000000;
    --dcf-color-primary-contrast-rgb: 0, 0, 0;
    --dcf-color-primary-shade: #4f7de0;
    --dcf-color-primary-tint: #6c9bff;
    --dcf-color-secondary: #6b5fbd;
    --dcf-color-secondary-rgb: 107, 95, 189;
    --dcf-color-secondary-contrast: #ffffff;
    --dcf-color-secondary-contrast-rgb: 255, 255, 255;
    --dcf-color-secondary-shade: #5e54a5;
    --dcf-color-secondary-tint: #7a6fc4;
    --dcf-color-tertiary: #8a57ff;
    --dcf-color-tertiary-rgb: 138, 87, 255;
    --dcf-color-tertiary-contrast: #000000;
    --dcf-color-tertiary-contrast-rgb: 0, 0, 0;
    --dcf-color-tertiary-shade: #794de0;
    --dcf-color-tertiary-tint: #9768ff;
    --dcf-color-success: #4ae574;
    --dcf-color-success-rgb: 74, 229, 116;
    --dcf-color-success-contrast: #000000;
    --dcf-color-success-contrast-rgb: 0, 0, 0;
    --dcf-color-success-shade: #41ca67;
    --dcf-color-success-tint: #5ce882;
    --dcf-color-warning: #ffd23d;
    --dcf-color-warning-rgb: 255, 210, 61;
    --dcf-color-warning-contrast: #000000;
    --dcf-color-warning-contrast-rgb: 0, 0, 0;
    --dcf-color-warning-shade: #e0b936;
    --dcf-color-warning-tint: #ffd750;
    --dcf-color-danger: #ff6b7a;
    --dcf-color-danger-rgb: 255, 107, 122;
    --dcf-color-danger-contrast: #000000;
    --dcf-color-danger-contrast-rgb: 0, 0, 0;
    --dcf-color-danger-shade: #e05e6b;
    --dcf-color-danger-tint: #ff7a87;
    --dcf-color-dark: #0c111d;
    --dcf-color-dark-rgb: 12, 17, 29;
    --dcf-color-dark-contrast: #ffffff;
    --dcf-color-dark-contrast-rgb: 255, 255, 255;
    --dcf-color-dark-shade: #0a0f1a;
    --dcf-color-dark-tint: #24293a;
    --dcf-color-medium: #98a2b3;
    --dcf-color-medium-rgb: 152, 162, 179;
    --dcf-color-medium-contrast: #000000;
    --dcf-color-medium-contrast-rgb: 0, 0, 0;
    --dcf-color-medium-shade: #868f9e;
    --dcf-color-medium-tint: #a2abbb;
    --dcf-color-light: #f9fafb;
    --dcf-color-light-rgb: 249, 250, 251;
    --dcf-color-light-contrast: #000000;
    --dcf-color-light-contrast-rgb: 0, 0, 0;
    --dcf-color-light-shade: #dde0e2;
    --dcf-color-light-tint: #fafbfc;
  }
  /*
   * iOS Dark Theme
   * -------------------------------------------
   */
  &.ios body {
    --dcf-background-color: #25293c;
    --dcf-background-color-rgb: 37, 41, 60;
    --dcf-text-color: #ffffff;
    --dcf-text-color-rgb: 255, 255, 255;
    --dcf-color-step-50: #0d0d0d;
    --dcf-color-step-100: #1a1a1a;
    --dcf-color-step-150: #262626;
    --dcf-color-step-200: #333333;
    --dcf-color-step-250: #404040;
    --dcf-color-step-300: #4d4d4d;
    --dcf-color-step-350: #595959;
    --dcf-color-step-400: #666666;
    --dcf-color-step-450: #737373;
    --dcf-color-step-500: #808080;
    --dcf-color-step-550: #8c8c8c;
    --dcf-color-step-600: #999999;
    --dcf-color-step-650: #a6a6a6;
    --dcf-color-step-700: #b3b3b3;
    --dcf-color-step-750: #bfbfbf;
    --dcf-color-step-800: #cccccc;
    --dcf-color-step-850: #d9d9d9;
    --dcf-color-step-900: #e6e6e6;
    --dcf-color-step-950: #f2f2f2;
    --dcf-item-background: #2f3349;
    --dcf-card-background: #2f3349;
    --dcf-input-fill-background: var(--dcf-card-background);
  }
  &.ios ion-modal {
    --dcf-background-color: var(--dcf-color-step-100);
    --dcf-toolbar-background: var(--dcf-color-step-150);
    --dcf-toolbar-border-color: var(--dcf-color-step-250);
  }
  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  &.md body {
    --dcf-background-color: #25293c;
    --dcf-background-color-rgb: 37, 41, 60;
    --dcf-text-color: #ffffff;
    --dcf-text-color-rgb: 255, 255, 255;
    --dcf-border-color: #222222;
    --dcf-color-step-50: #2f3349;
    --dcf-color-step-100: #2a2a2a;
    --dcf-color-step-150: #363636;
    --dcf-color-step-200: #414141;
    --dcf-color-step-250: #4d4d4d;
    --dcf-color-step-300: #595959;
    --dcf-color-step-350: #656565;
    --dcf-color-step-400: #717171;
    --dcf-color-step-450: #7d7d7d;
    --dcf-color-step-500: #898989;
    --dcf-color-step-550: #949494;
    --dcf-color-step-600: #a0a0a0;
    --dcf-color-step-650: #acacac;
    --dcf-color-step-700: #b8b8b8;
    --dcf-color-step-750: #c4c4c4;
    --dcf-color-step-800: #d0d0d0;
    --dcf-color-step-850: #dbdbdb;
    --dcf-color-step-900: #e7e7e7;
    --dcf-color-step-950: #f3f3f3;
    --dcf-item-background: #2f3349;
    --dcf-toolbar-background: #2f3349;
    --dcf-tab-bar-background: #31354d;
    --dcf-card-background: #2f3349;
    --dcf-input-fill-background: var(--dcf-card-background);
  }
}

/** Ionic CSS Variables **/

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */
  body {
    --ion-color-primary: var(--dcf-color-primary);
    --ion-color-primary-rgb: var(--dcf-color-primary-rgb);
    --ion-color-primary-contrast: var(--dcf-color-primary-contrast);
    --ion-color-primary-contrast-rgb: var(--dcf-color-primary-contrast-rgb);
    --ion-color-primary-shade: var(--dcf-color-primary-shade);
    --ion-color-primary-tint: var(--dcf-color-primary-tint);

    --ion-color-secondary: var(--dcf-color-secondary);
    --ion-color-secondary-rgb: var(--dcf-color-secondary-rgb);
    --ion-color-secondary-contrast: var(--dcf-color-secondary-contrast);
    --ion-color-secondary-contrast-rgb: var(--dcf-color-secondary-contrast-rgb);
    --ion-color-secondary-shade: var(--dcf-color-secondary-shade);
    --ion-color-secondary-tint: var(--dcf-color-secondary-tint);

    --ion-color-tertiary: var(--dcf-color-tertiary);
    --ion-color-tertiary-rgb: var(--dcf-color-tertiary-rgb);
    --ion-color-tertiary-contrast: var(--dcf-color-tertiary-contrast);
    --ion-color-tertiary-contrast-rgb: var(--dcf-color-tertiary-contrast-rgb);
    --ion-color-tertiary-shade: var(--dcf-color-tertiary-shade);
    --ion-color-tertiary-tint: var(--dcf-color-tertiary-tint);

    --ion-color-success: var(--dcf-color-success);
    --ion-color-success-rgb: var(--dcf-color-success-rgb);
    --ion-color-success-contrast: var(--dcf-color-success-contrast);
    --ion-color-success-contrast-rgb: var(--dcf-color-success-contrast-rgb);
    --ion-color-success-shade: var(--dcf-color-success-shade);
    --ion-color-success-tint: var(--dcf-color-success-tint);

    --ion-color-warning: var(--dcf-color-warning);
    --ion-color-warning-rgb: var(--dcf-color-warning-rgb);
    --ion-color-warning-contrast: var(--dcf-color-warning-contrast);
    --ion-color-warning-contrast-rgb: var(--dcf-color-warning-contrast-rgb);
    --ion-color-warning-shade: var(--dcf-color-warning-shade);
    --ion-color-warning-tint: var(--dcf-color-warning-tint);

    --ion-color-danger: var(--dcf-color-danger);
    --ion-color-danger-rgb: var(--dcf-color-danger-rgb);
    --ion-color-danger-contrast: var(--dcf-color-danger-contrast);
    --ion-color-danger-contrast-rgb: var(--dcf-color-danger-contrast-rgb);
    --ion-color-danger-shade: var(--dcf-color-danger-shade);
    --ion-color-danger-tint: var(--dcf-color-danger-tint);

    --ion-color-dark: var(--dcf-color-dark);
    --ion-color-dark-rgb: var(--dcf-color-dark-rgb);
    --ion-color-dark-contrast: var(--dcf-color-dark-contrast);
    --ion-color-dark-contrast-rgb: var(--dcf-color-dark-contrast-rgb);
    --ion-color-dark-shade: var(--dcf-color-dark-shade);
    --ion-color-dark-tint: var(--dcf-color-dark-tint);

    --ion-color-medium: var(--dcf-color-medium);
    --ion-color-medium-rgb: var(--dcf-color-medium-rgb);
    --ion-color-medium-contrast: var(--dcf-color-medium-contrast);
    --ion-color-medium-contrast-rgb: var(--dcf-color-medium-contrast-rgb);
    --ion-color-medium-shade: var(--dcf-color-medium-shade);
    --ion-color-medium-tint: var(--dcf-color-medium-tint);

    --ion-color-light: var(--dcf-color-light);
    --ion-color-light-rgb: var(--dcf-color-light-rgb);
    --ion-color-light-contrast: var(--dcf-color-light-contrast);
    --ion-color-light-contrast-rgb: var(--dcf-color-light-contrast-rgb);
    --ion-color-light-shade: var(--dcf-color-light-shade);
    --ion-color-light-tint: var(--dcf-color-light-tint);
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: var(--dcf-background-color);
    --ion-background-color-rgb: var(--dcf-background-color-rgb);

    --ion-text-color: var(--dcf-text-color);
    --ion-text-color-rgb: var(--dcf-text-color-rgb);

    --ion-color-step-50: var(--dcf-color-step-50);
    --ion-color-step-100: var(--dcf-color-step-100);
    --ion-color-step-150: var(--dcf-color-step-150);
    --ion-color-step-200: var(--dcf-color-step-200);
    --ion-color-step-250: var(--dcf-color-step-250);
    --ion-color-step-300: var(--dcf-color-step-300);
    --ion-color-step-350: var(--dcf-color-step-350);
    --ion-color-step-400: var(--dcf-color-step-400);
    --ion-color-step-450: var(--dcf-color-step-450);
    --ion-color-step-500: var(--dcf-color-step-500);
    --ion-color-step-550: var(--dcf-color-step-550);
    --ion-color-step-600: var(--dcf-color-step-600);
    --ion-color-step-650: var(--dcf-color-step-650);
    --ion-color-step-700: var(--dcf-color-step-700);
    --ion-color-step-750: var(--dcf-color-step-750);
    --ion-color-step-800: var(--dcf-color-step-800);
    --ion-color-step-850: var(--dcf-color-step-850);
    --ion-color-step-900: var(--dcf-color-step-900);
    --ion-color-step-950: var(--dcf-color-step-950);

    --ion-item-background: var(--dcf-item-background);

    --ion-card-background: var(--dcf-card-background);
  }

  .ios ion-modal {
    --ion-background-color: var(--dcf-color-step-100);
    --ion-toolbar-background: var(--dcf-color-step-150);
    --ion-toolbar-border-color: var(--dcf-color-step-250);
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: var(--dcf-background-color);
    --ion-background-color-rgb: var(--dcf-background-color-rgb);

    --ion-text-color: var(--dcf-text-color);
    --ion-text-color-rgb: var(--dcf-text-color-rgb);

    --ion-border-color: var(--dcf-border-color);

    --ion-color-step-50: var(--dcf-color-step-50);
    --ion-color-step-100: var(--dcf-color-step-100);
    --ion-color-step-150: var(--dcf-color-step-150);
    --ion-color-step-200: var(--dcf-color-step-200);
    --ion-color-step-250: var(--dcf-color-step-250);
    --ion-color-step-300: var(--dcf-color-step-300);
    --ion-color-step-350: var(--dcf-color-step-350);
    --ion-color-step-400: var(--dcf-color-step-400);
    --ion-color-step-450: var(--dcf-color-step-450);
    --ion-color-step-500: var(--dcf-color-step-500);
    --ion-color-step-550: var(--dcf-color-step-550);
    --ion-color-step-600: var(--dcf-color-step-600);
    --ion-color-step-650: var(--dcf-color-step-650);
    --ion-color-step-700: var(--dcf-color-step-700);
    --ion-color-step-750: var(--dcf-color-step-750);
    --ion-color-step-800: var(--dcf-color-step-800);
    --ion-color-step-850: var(--dcf-color-step-850);
    --ion-color-step-900: var(--dcf-color-step-900);
    --ion-color-step-950: var(--dcf-color-step-950);

    --ion-item-background: var(--dcf-item-background);

    --ion-toolbar-background: var(--dcf-toolbar-background);

    --ion-tab-bar-background: var(--dcf-tab-bar-background);

    --ion-card-background: var(--dcf-card-background);
  }
}

html {
  /*
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--dcf-default-dynamic-font);
}
html,
body,
* {
  font-family: var(--dcf-default-dynamic-font);
  font-style: normal;
}
