// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
html {
  /*
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--dcf-default-dynamic-font);
}
html,
body,
* {
  font-family: var(--dcf-default-dynamic-font);
  font-style: normal;
}
