@if ((operation === 'read' || operation === 'delete') || readonly) {
  @if(!hidden) {
    <ng-container>
      <div >
        <ion-item [class]="'dcf-input-item ' + operation" #component>
          <ion-label>
            {{ label | translate }}<br />
            <ion-text>{{value}}</ion-text>
          </ion-label>
        </ion-item>
      </div>
    </ng-container>
  }
} @else {
  @if (formControl) {
    <div [formGroup]="multiple ? activeFormGroup : formControl.parent">
      <div
          [id]="uid" #container
          [class]="'dcf-input-item ' + (operation || 'create')"
          [class.dcf-field-required]="required"
          [class.dcf-field-readonly]="readonly"
        >

          <div>
            <ion-select
              (ionInput)="handleModalChildChanges()"
              (ionChange)="handleModalChildChanges()"
              [id]="name"
              toggleIcon="chevron-down-outline"
              expandedIcon="chevron-up-outline"
              [mode]="'md'"
              (click)="openSelectOptions($event, interface)"
              [hidden]="hidden || !options?.length"
              [labelPlacement]="labelPlacement"
              [label]="label | translate"
              [value]="value ?? null"
              (ionChange)="handleChange($event)"
              [fill]="fill"
              [placeholder]="placeholder | translate"
              [formControlName]="name"
              [interface]="interface"
              #component>
              @if (options?.length) {
                @for(option of options; track trackItemFn($index, option.text)) {
                  <ion-select-option
                    [value]="option.value"
                    [class.dcf-disabled]="option.disabled"
                    [class.dcf-hidden]="option.hidden"
                    [hidden]="option.hidden">
                    {{ option.text }}
                  </ion-select-option>
                }
              }
            </ion-select>

           <div
              class="dcf-error"
              [class.dcf-options-error]="!options?.length"
              [innerHTML]="options?.length ?
                getErrors(container) : 'errors.empty_options' | translate:{'0': name}">
            </div>
          </div>

      </div>
    </div>
  } @else {
    <div>
      <p class="dcf-error">
        {{ 'errors.form.control' | translate:{'0': name} }}
      </p>
    </div>
  }

}

