

<ion-content [fullscreen]="true">
  <main>
    <app-container className="dcf-height-viewport dcf-flex dcf-flex-center dcf-animation dcf-animation-fade dcf-animation-fast" [hasSideMenu]="false" size="large">
      <ion-card class="dcf-card-default">
        <ion-card-content>
          <div class="dcf-animation dcf-animation-slide-top-small dcf-animation-medium" id="dcf-logo">
            <app-logo width="220"></app-logo>
          </div>
          <div class="dcf-animation dcf-animation-slide-bottom-small dcf-animation-medium">
            <ngx-decaf-model-renderer
              [model]="model"
              (listenEvent)="handleEvent($event)"
              [globals]="{action: 'login'}">
            </ngx-decaf-model-renderer>
          </div>
        </ion-card-content>
      </ion-card>
    </app-container>
  </main>
</ion-content>
