main {
  padding-top: 20vh;

  #dcf-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    ion-img {
      max-width: 310px;
      min-width: 220px;
    }
  }
}

ion-card {
  padding-top: 2rem;
  // padding: 2rem 1rem;
}
