

<ion-content [fullscreen]="true">
  <main>
    <app-container className="dcf-height-viewport dcf-flex  dcf-flex-center" [hasSideMenu]="false" size="large">
      <ion-card>
        <ion-card-content>
          <div id="dcf-logo">
            <ion-img [src]="logo" alt="Decaf - For angular components lib" />
          </div>
          <ngx-decaf-model-renderer
            [model]="model"
            (listenEvent)="handleEvent($event)"
            [globals]="{action: 'login'}">
          </ngx-decaf-model-renderer>
        </ion-card-content>
      </ion-card>

    </app-container>
  </main>
</ion-content>
