// Using decaf screen sizes
$dcf-width-s: 576px;
$dcf-width-m: 768px;
$dcf-width-l: 992px;
$dcf-width-xl: 1200px;
$dcf-width-2xl: 1400px;
.dcf-nav-container {
  padding-top: 0px !important;
  padding-bottom: 0px !important;

  .dcf-container {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}
.dcf-container {
  display: flow-root;

  // width: auto;
  min-width: 290px;
  flex: 1;
  max-width: 100vw;

  padding-bottom: var(--dcf-padding-small, 2rem);
  padding-top: var(--dcf-padding, 2rem);
  padding-left: var(--dcf-padding-xsmall) !important;
  padding-right: var(--dcf-padding-xsmall);
  // box-sizing: content-box;
  // @media (min-width: $dcf-width-s) {
  //   padding-left: var(--dcf-padding-medium);
  //   padding-right: var(--dcf-padding-medium);
  //   padding-bottom: var(--dcf-padding, 2rem);
  //   padding-top: var(--dcf-padding, 2rem);
  // }

  @media (min-width: $dcf-width-xl) {
    padding-left: var(--dcf-padding-xlarge) !important;
    padding-right: var(--dcf-padding-xlarge);
  }

  > :last-child {
    margin-bottom: 0;
  }
  .dcf-container {
    padding-left: 0;
    padding-right: 0;
  }

  &.dcf-width-xsmall {
    max-width: 480px;
  }

  &.dcf-width-small {
    max-width: $dcf-width-s;
  }

  &.dcf-width-medium {
    max-width: $dcf-width-m;
  }
  &.dcf-width-large {
    max-width: $dcf-width-l;
  }
  &.dcf-width-xlarge {
    max-width: $dcf-width-xl;
  }
  &.dcf-width-2xlarge {
    max-width: $dcf-width-2xl;
  }

  &.dcf-width-auto {
    width: auto;
  }

  &.dcf-width-block {
    width: 100%;
    div {
      flex: 1;
      min-width: 1px;
    }
  }
  &.dcf-width-expand {
    max-width: 95vw !important;
    div {
      flex: 1;
      min-width: 1px;
    }
  }
}
