ion-split-pane {
  --side-max-width: 240px;
}

ion-menu {
  &.dcf-palette-dark {
    .ti,
    ion-icon,
    aeon-icon {
      color: var(--ion-color-gray-4) !important;
    }
    border-right: 1px solid var(--dcf-card-background);
    > *,
    ion-content {
      background: var(--dcf-item-background, var(--dcf-background-color, #fff)) !important;
    }

    ion-list-header,
    .dcf-separator {
      color: var(--ion-color-gray-3) !important;
      border-top: 1px solid var(--dcf-background-color) !important;
    }

    ion-item {
      &:not(.dcf-separator) {
        ion-label {
          color: var(--dcf-color-light);
        }
      }

      &.dcf-active {
        --background: rgba(var(--dcf-color-dark-rgb), 0.3) !important;
        color: var(--dcf-color-gray-9) !important;
        .ti,
        ion-icon,
        aeon-icon {
          color: var(--ion-color-gray-2) !important;
        }
      }
      &:hover {
        --background: rgba(var(--dcf-color-dark-rgb), 0);
        --color: rgba(var(--dcf-color-light-rgb), 1);
        .ti,
        ion-icon,
        aeon-icon {
          color: var(--ion-color-gray-2) !important;
        }
      }
    }
  }
}

ion-menu {
  border-right: 1px solid var(--dcf-color-gray-2);

  ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff)) !important;
  }

  ion-list {
    pointer-events: none;
    touch-action: none;
    padding: 0rem 0.75rem;
    ion-list-header,
    .dcf-separator {
      font-weight: 600;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      pointer-events: none !important;
      touch-action: none !important;

      margin-top: 1rem;
      cursor: text;
      color: var(--ion-color-gray-5);
      border-top: 1px solid var(--dcf-color-gray-1);
      ion-label {
        font-size: 0.8125rem !important;
      }
      ion-icon {
        margin-right: 0.5rem;
        font-size: 0.975rem !important;
      }
    }

    ion-item {
      --border-radius: var(--dcf-border-radius);
      --background: transparent;
      pointer-events: auto !important;
      touch-action: auto !important;

      &.dcf-active {
        --background: var(--ion-color-gray-2);
        color: var(--dcf-color-gray-9) !important;
      }

      &:not(.dcf-separator) {
        font-size: 0.975rem !important;
        font-weight: 400 !important;
        cursor: pointer;
        margin-bottom: 0.1rem;

        color: #2f2b3de5 !important;

        ion-icon {
          font-size: 1.375rem !important;
          margin-right: 0.5rem;
          transform: translateY(-1px);
        }
      }
    }
  }
}

.dcf-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.15rem;
  padding-bottom: var(--dcf-padding);
}

.dcf-menu {
}
