<ion-app>
<!--  <ion-content>-->
<!--      <decaf-crud-form [operation]="operation">-->
<!--        &lt;!&ndash;      test&ndash;&gt;-->
<!--        <decaf-crud-field [operation]="operation" [props]="props1"></decaf-crud-field>-->
<!--        <decaf-crud-field  [operation]="operation" [props]="props2"></decaf-crud-field>-->
<!--        <decaf-crud-field [operation]="operation" [props]="props3"></decaf-crud-field>-->
<!--        <decaf-crud-field [operation]="operation" [props]="props4"></decaf-crud-field>-->
<!--        &lt;!&ndash;        <decaf-crud-field [operation]="operation" [props]="props5"></decaf-crud-field>&ndash;&gt;-->
<!--      </decaf-crud-form>-->
      <decaf-model-renderer [model]="model1" [globals]="{operation: operation}"></decaf-model-renderer>
<!--  </ion-content>-->
</ion-app>

