
ion-split-pane {
    --side-max-width: 240px;
}

ion-menu {
  ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff)) !important;
  }
  border-color: var(--dcf-color-gray-2);
  @media (prefers-color-scheme: dark) {
    // border-color: var(--dcf-color-gray-7);
    border-color: var(--dcf-card-background);

    > *,
    ion-content { background: var(--ion-item-background, var(--ion-background-color, #fff)) !important; }
  }
  ion-list {
    // background: transparent !important;
    padding: 0rem .75rem;
     ion-list-header,
    .dcf-separator {
      font-weight: 600;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      // font-size: 1rem;
      pointer-events: none;

      margin-top: 1rem;
      cursor: text;
      @media (prefers-color-scheme: light) {
        color: var(--ion-color-gray-9) !important;
        border-top: 1px solid var(--dcf-color-gray-1);
      }
      @media (prefers-color-scheme: dark) {
        color: var(--ion-color-gray-1) !important;
        border-top: 1px solid var(--dcf-background-color);
        // border-top: 1px solid var(--dcf-color-gray-7);
      }
      ion-label { font-size: 0.8125rem !important; }
      ion-icon {
        margin-right: .5rem;
        font-size: 0.975rem !important;
      }
    }

    ion-item {
      --border-radius: var(--dcf-border-radius);
      --background: transparent;

      @media (prefers-color-scheme: light) {
        &.dcf-active {
          --background: var(--ion-color-gray-2);
          color: var(--dcf-color-gray-9) !important;
        }
        &:hover {
          @media (prefers-color-scheme: dark) {
           --background: rgba(var(--dcf-color-dark-rgb), 0); /* subtle primary tint */
            --color:  rgba(var(--dcf-color-dark-rgb), 1);
            ion-label {
              color: var(--dcf-color-dark);
            }

            .ti,
            ion-icon,
            aeon-icon {
              color: var(--ion-color-gray-8) !important;
            }
          }
        }
      }

      &:not(.dcf-separator) {
        font-size: .975rem !important;
        font-weight: 400 !important;
        cursor: pointer;
        margin-bottom: .1rem;

        @media (prefers-color-scheme: light) {
          color: #2F2B3DE5 !important;
        }

        ion-icon{
          font-size: 1.375rem !important;
          margin-right: .5rem;
          transform: translateY(-1px);
        }
      }
    }
  }
}

.dcf-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

.dcf-menu {


}
