.dcf-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}
.dcf-menu {
  padding: 0rem .75rem;
  ion-item {
    --border-radius: var(--dcf-border-radius);
    --background: transparent;
    color: var(--ion-color-gray-8);
    cursor: pointer;
    margin-bottom: .25rem;
    font-size: 0.95rem;
    .icon{
      margin-right: .5rem;
      // transform: translateY(px);
    }

    &.dcf-active {
      --background: var(--ion-color-gray-2);
    }
    &:hover {
      color: var(--ion-color-primary) !important;

      // -
      // --color-focused:  var(--ion-color-primary) !important;
      // --color-hover:  var(--ion-color-primary) !important;
      // --color-activated:  var(--ion-color-primary) !important;
      .ti,
      ion-icon,
      aeon-icon {
         color: var(--ion-color-gray-8) !important;
      }
    }
  }



  ion-list-header,
  .dcf-separator {
    color: var(--ion-color-gray8) !important;
    font-weight: 600;
    font-size: 1rem;
    pointer-events: none;
    border-top: 1px solid var(--dcf-color-gray-2);
    cursor: text;
  }
}
