ion-label {
  font-weight: 600;
  margin-top: 0px !important;
  margin-bottom: 0.25rem !important;
  font-size: 0.925rem;

  ion-text {
    font-weight: initial;
  }
}
ion-item {
  --border-color: transparent;

  &:not(.dcf-input-item) {
    --inner-padding-start: 0rem;
    --padding-start: 0rem;
    --background: transparent;
  }

  &.dcf-input-item {
    --padding-end: 0rem;
    --padding-start: 0px !important;
    --padding-top: 0px !important;
    --inner-padding-start: 0.75rem;

    --background: transparent;
    --background-hover-opacity: 0.1;
    --background-activated-opacity: 0.15;
    --background-focused-opacity: 0.15;
    --background-hover: var(--dcf-color-primary);
    --background-focused: var(--dcf-color-primary);
    --border-color: var(--dcf-color-gray-2);

    &.dcf-palette-dark {
      --border-color: var(--dcf-color-gray-6) !important;
    }

    &.read,
    &.delete {
      --min-height: 30px;
      padding: unset;
      margin: unset !important;
      margin-bottom: var(--dcf-margin-xsmall) !important;

      span,
      ion-text {
        font-weight: 400 !important;
        font-size: 0.825rem;
        min-height: 0.5rem !important;

        &:not(.dcf-display-block) {
          display: inline-block;
        }

        &.dcf-display-block {
          display: block !important;
        }
      }
    }

    // force expand (prevent layout glitches)
    > *,
    ion-select {
      width: 100% !important;
    }

    &.create,
    &.update {
      &.checkbox + .checkbox {
        margin-top: -0.25rem !important;
      }

      ion-item {
        --border-color: transparent;

        &.dcf-text-wrap {
          ion-label > * {
            white-space: wrap !important;
            word-break: break-all !important;
          }
        }
      }
    }
  }
}

// fix do label com floating para selects
ion-select.dcf-select-label-placement-floating::part(label) {
  line-height: 1.2rem !important;
}

// classe quando o form está sendo submetido
.dcf-proccessing {
  pointer-events: none;
  touch-action: none;
  cursor: text;

  * {
    pointer-events: none;
    touch-action: none;
    cursor: text;
  }
}

.dcf-error {
  position: absolute;
  color: var(--dcf-color-danger) !important;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  line-height: 1.1rem;
  z-index: 9999;

  .ti,
  ion-icon {
    position: relative;
    top: 2px !important;
    min-width: 20px;
    font-size: 1rem !important;
    text-align: left;
  }
}

.dcf-helper {
  font-size: 0.875rem !important;
  font-weight: 500;
  margin-top: 0.25rem;
  margin-bottom: -0.75rem;
  &.dcf-has-action {
    cursor: pointer;
    // color: var(--dcf-color-gray-7) !important;
    // color: var(--dcf-color-primary) !important;
    text-decoration: underline;
  }
}

.dcf-error + .dcf-helper {
  padding-top: 1rem;
}
