<app-header [title]="title" [operation]="operation" [modelId]="modelId" />
<ion-content [fullscreen]="true">
  <main>
    <app-container [hasSideMenu]="true">
      <ngx-decaf-card type="shadow" [body]="operation || !model ? '' : 'blank'">
        @if(model) {
          @if(!operation) {
            <ngx-decaf-list
                [model]="model"
                [createButton]="true"
                [type]="'paginated'"
                [route]="route"
                [operations]="operations"
                (listenEvent)="handleEvent($event)"
              />
          } @else {
            @if(!errorMessage) {
            <ngx-decaf-model-renderer
              [model]="model"
              (listenEvent)="handleEvent($event)"
              [globals]="{operation, operations, modelId, allowClear: false}" />

            } @else {
              <ngx-decaf-empty-state
                [model]="model"
                [title]="not_found"
                [iconColor]="danger"
                [icon]="sad-outline"
                [subtitle]="'errors.not_found' | translate:{'0': pk, '1': modelId, '2': modelName}"
              />
            }
          }
        } @else {
          <div>No Model</div>
        }
      </ngx-decaf-card>
    </app-container>
  </main>
</ion-content>
