<app-header
  [locale]="locale"
  [operation]="operation"
  [modelId]="modelId"
/>

<ion-content [fullscreen]="true">
  <main>
    <app-container>
      @if(initialized) { @if(!operation) {
      <app-card-title
        [locale]="locale"
        [route]="route"
        [operation]="operation"
        [operations]="operations"
        [title]="locale +'.title' | translate"
        [subtitle]="locale +'.description' | translate"
      />

      <div class="dcf-list-container">
        <ngx-decaf-table
          [filterModel]="'product'"
          [disablePaginationPages]="true"
          [filterLabel]="'leaflet.filter.all' | translate"
          [model]="model"
          [route]="route"
          [sortBy]="'updatedAt'"
          [locale]="locale"
          [empty]="{showButton: false}"
          [operation]="operation"
          [operations]="operations"
        />
      </div>
      } @else {
      <div class="dcf-form-container">
        <ngx-decaf-model-renderer
          [model]="model"
          (listenEvent)="handleEvent($event)"
          [globals]="{operation: operation, operations, _data, refreshing,  modelId, allowClear: false}"
        />
      </div>
      } }
    </app-container>
  </main>
</ion-content>
