
@if(!showText) {
  <ion-button shape="round" fill="clear" class="dcf-icon-only" [color]="color" (click)="backToPage()">
    <ngx-decaf-icon
      name="ti-chevron-left"
      [color]="isDarkMode ? 'light' : color"
      slot="icon-only"
    />
</ion-button>
} @else {
  <ion-button fill="clear" [color]="color" (click)="backToPage()">
    <ngx-decaf-icon
      name="ti-chevron-left"
      [color]="isDarkMode ? 'light' : color"
      slot="icon-only"
    />
    <span class="margin-small-left">{{text}}</span>
  </ion-button>
}
